.appContainer {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 100px 0;
}

.pagination {
    position: absolute;
    top: 740px;
    left: 50%;
    transform: translateX(-50%);
}