.table {
    width: 100%;
    max-width: 500px;

    &__tags {
        text-align: center;
        width: 70%;
    }

    &__posts {
        text-align: center;
    }

    & tr {
        height: 30px;
        background-color: white;
    }
}